header {
  color: black;
  height: 50px;
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  font-size: 25px;
  background: linear-gradient(180deg, skyblue, goldenrod);
}
